<h1><%= @pirate.name %></h1>
<h1><%= @pirate.weight %></h1>
<h1><%= @pirate.height %></h1>




<% @all_ships.each do |ship| %>
  <div class="class">
    <p><%= ship.name %></p><br>
    <p><%= ship.type %></p><br>
    <p><%= ship.booty %></p><br>
  </div><br>
  <% end %>


</h2>
